<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Tann, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kurusel ja ei oma mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
	<li><a href="/eestifilm">Eesti filmi avaleht</a></li>
  </ul>
  <h2>Eesti filmidega seotud inimeste lisamine</h2>
  <form method="POST">
    <label for="positionNameInput">Filmiga seotud amet</label>
  	<input id="positionNameInput" name="positionNameInput" type="text" placeholder="ameti nimetus" required>
	  <br>
	  <label for="positionDescriptionInput">Ameti kirjeldus</label>
	  <textarea id="positionDescriptionInput" name="positionDescriptionInput" cols="100 rows="5" placeholder="Ameti lühikirjeldus..."></textarea>
	  <br>
	  <input id="positionSubmit" name="positionSubmit" type="submit" value="Salvesta">
  </form>
  <p><%= notice %></p>
</body>
</html>