<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Puhas kuld</title>
</head>
<style>
  </style>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Puhas kuld</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
  <p>Roheline tee + L-teaniin ja L-turosiin, viivad su parema fookuseni kui kohvi voi energiajoogi tarbimine</p>
  <hr>
  <ul>
     <li><a href="/">Avalehele</a></li>
	 <li><a href="/eestifilm/filmiinimeste_positisoon">Positsiooni nimetus</a></li>
	 <li><a href="/eestifilm/filmiinimeste_positsioon_add">Lisa positsioon</a></li>
    
 </ul>
 <h2>Lisa uus positsioon</h2>

<form action="/eestifilm/filmiinimeste_positsioon_add" method="POST">
  <label>Positsiooni nimi:</label><br>
  <input type="text" name="position_name" required><br><br>

  <label>Kirjeldus:</label><br>
  <textarea name="description" rows="4" cols="40"></textarea><br><br>

  <button type="submit">Salvesta</button>
</form>

<a href="/eestifilm/filmiinimeste_positsioon">Tagasi nimekirja</a>


</body>
</html>