<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Lisa filmiinimene</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Lisa uus filmiinimene</h1>
  <p><a href="/filmiinimesed">â† Tagasi nimekirja</a></p>

  <form method="POST" action="/filmiinimesed/add">
    <label for="eesnimi">Eesnimi:</label><br>
    <input type="text" id="eesnimi" name="eesnimi" required><br><br>

    <label for="perenimi">Perenimi:</label><br>
    <input type="text" id="perenimi" name="perenimi" required><br><br>

    <label for="amet">Amet:</label><br>
    <input type="text" id="amet" name="amet" required><br><br>

    <input type="submit" value="Lisa">
  </form>

  <% if (message) { %>
    <p style="color:green;"><%= message %></p>
  <% } %>
</body>
</html>
