<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
   <title>Veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Tann, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kurusel ja ei oma mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Lae üles galeriipilte</h2>
  <form method="POST" enctype="multipart/form-data">
	<label for="photoInput">Vali pildifail</label>
	<input id="photoInput" name="photoInput" type="file">
	<br>
	<label for="altInput">Lisa alternatiivtekst</label>
	<input id="altInput" name="altInput" type="text" placeholder="Sellel fotol on ...">
	<br>
	<label>Määra privaatsustase</label>
	<br>
	<input id="privacyInput1" name="privacyInput" type="radio" value="1" checked>
	<label for="privacyInput1">Privaatne</label>
	<br>
	<input id="privacyInput2" name="privacyInput" type="radio" value="2">
	<label for="privacyInput2">Sisseloginud kasutajatele</label>
	<br>
	<input id="privacyInput3" name="privacyInput" type="radio" value="3">
	<label for="privacyInput3">Avalik</label>
    <br>
	<input id="photoSubmit" name="photoSubmit" type="submit" value="Lae üles">
  </form>
</body>
</html>