<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <title><%= h2 %></title>
</head>
<body>
  <h1><%= h2 %></h1>
  <ul>
    <% ListData.forEach(item => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
  <p><a href="/">Tagasi avalehele</a></p>
</body>
</html>
