<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Puhas kuld</title>
</head>
<style>
  </style>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Puhas kuld</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
  <p>Roheline tee + L-teaniin ja L-turosiin, viivad su parema fookuseni kui kohvi voi energiajoogi tarbimine</p>
  <hr>
  <h2>Siin lehel leiad</h2>
 <ul>
    <li><a href="/timeNow">Ajainfo</a></li>
    <li><a href="/vanasonad">Vanasonad</a></li>
    <li><a href="/regvisit">Kulalisteraamat</a></li>
	<li><a href="/eestifilm">Eesti film</a></li>
 </ul>
</body>
</html>