<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <title>Ajainfo</title>
</head>
<body>
  <h1>Praegune aeg</h1>
  <p>Täna on <%= wd %>, kuupäev: <%= date %></p>
  <p><a href="/">Tagasi avalehele</a></p>
</body>
</html>
