<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
   <title>Veebiprogrammeerimine</title>
</head>
<body>
  <img src="images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Tann, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kurusel ja ei oma mõistlikku sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Praegune aeg</h2>
  <ul>
	<li>Nädalapäev: <%= wd %></li>
	<li>Kuupäev: <%= date %></li>
  </ul>
</body>
</html>